:root {
    --red : #b31a43;
    --blue : #1e345d;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    position: relative;
    padding: 50px;
    width: 100vw;
}

.menu {
    display: none;
}

#hamburger {
    background-color: #1e345d;
    height: 10px;
    width: 50px;
    position: absolute;
    right: 20px;
}
#hamburger::after {
    content: '';
    position: absolute;
    background-color: #1e345d;
    height: 10px;
    width: 50px;
    top: 15px;
}
#hamburger::before {
    content: '';
    position: absolute;
    background-color: #1e345d;
    height: 10px;
    width: 50px;
    bottom: 15px;
}

.logo {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
}

.logo img {
    width: 20vw;
}

.hero {
    background-size: contain;
    background-repeat: no-repeat;
    height: 240px;
    position: relative;
}


.hero-title {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 40px;
    width: 260px;
    position: absolute;
    right: 20px;
    font-size: 1.5rem;
}

.hero-title span {
    font-size: 3rem;
}

section {
    padding: 10px 30px;
}

.title {
    font-size: 2.1rem;
    text-align: center;
    margin-top: 40px;
    color: var(--blue);
}

.coaching-title {
    font-size: 1.6rem;
}

.process-title {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}

.process-subtitle {
    color: #fff;
    font-size: 1.2rem;
    text-align: left;
}

.mark {
    color: var(--red);
    text-transform: uppercase;
    font-style: italic;
}

.title span {
    color: var(--red);
    font-style: italic;
}

.paragraphe {
    text-align: center;
    margin: 40px 0px;
}

.process-paragraph {
    text-align: left;
}

.illustration {
    width: 350px;
    
}

.illustration img  {
    max-width: 100%;
    height: auto;
    border-radius: 40px;
}

#call-to-action {
    display: block;
    width: fit-content;
    background-color: #b31a43;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 10px 20px;
    margin: 50px auto;
}

.wrapper {
    padding: 20px 0px;
}

.ordered-items {
    list-style: decimal;
}

.paragraphe-items {
    margin: 30px 0px;
}

.paragraphe-items span {
    font-weight: bold;
}

details {
    border: 2px solid var(--blue);
    margin: 20px 0px;
    padding: 10px;
    border-radius: 20px;
}

.faq-option {
    padding-left: 20px;
    padding-top: 5px;
}

.faq-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 0;
}

#contact {
    background-color: var(--blue);
}

#contact .title {
    color: #fff;
    text-align: center;
}

.contact-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 40px 0px;
}

.contact-info_image {
    width: 50px;
    height: 50px;
}

.contact-info_image img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    filter: invert(100%);
}

@media (min-width: 1250px) {

    header {
        width: 100%;
    }

    .logo {
        top: 0;
        left: 20px;
        transform: translateX(0);
    }

    .logo img {
        width: 7vw;
    }

    .menu {
        display: block;
    }

    .nav-menu {
        display: flex;
    }

    .options {
        flex: 1;
    }

    .link {
        font-weight: bold;
        color: var(--blue);
    }

    #nav_call-to-action {
        background-color: var(--blue);
        color: #fff;
        padding: 10px;
    }
    #hamburger {
        position: absolute;
        width: 75%;
        background-color: initial;
        right: 0;
    }

    #hamburger::after {
        content: none;
    }
    #hamburger::before {
        content: none;
    }

    .hero {
        background-size: cover;
        position: relative;
        width: 100%;
        height: 100vh;
    }

    .hero-title {
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        width: 75%;
        position: absolute;
        top: 100px;
        right: 0px;
        font-size: 6.5rem;
    }

    .hero-title span {
        font-size: 10rem;
    }

    section {
        padding: 10px 80px;
        margin-top: 50px;
    }

    .section_to_flex {
        display: flex;
    }
    

    .section_to_flex > * {
        flex: 1;
    }

    
    .illustration {
        width: 450px;
        margin-right: 30px;
    }

    .section_to_float .illustration {
        float: left;
    }

    .title {
        font-size: 3rem;
        text-align: left;
    }

    #to_center_desk {
        text-align: center;
    }

    .paragraphe {
        text-align: left;
        font-size: 1.5rem;
    }

    #call-to-action {
        font-size: 2rem;
        padding: 15px 20px;
    }
    details {
        padding: 30px;
    }
    .faq-title {
        font-size: 1.8rem;
        font-weight: bold;
        margin-top: 0;
    }

    .faq-option {
        padding: 10px 20px;
        font-size: 1.3rem;
    }
    
}